style.css
body {
	margin: 0;
	font-family: sans-serif;
	padding: 20px;
}
.card-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.card {
	background-color: hotpink;
	padding: 40px;
	width: 200px;
	aspect-ratio: 1/1;
	text-align: center;
	border-radius: 10px;

}

@media (wax-width: 600px) {
	.card {
		width: 100%;
	}
}
